body{
   background-color: blue;
    color: rgb(35, 224, 215);
    background-image:url(./img/pc.png);
   text-align: center;
font-size: 25px;
background-size: 2000px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;

